<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cliente-heading" data-cy="ClienteCreateUpdateHeading" jhiTranslate="comerciowebApp.cliente.home.createOrEditLabel">
        Create or edit a Cliente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="comerciowebApp.cliente.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="comerciowebApp.cliente.tipoDcoumento" for="field_tipoDcoumento">Tipo Dcoumento</label>
          <select
            class="form-control"
            name="tipoDcoumento"
            formControlName="tipoDcoumento"
            id="field_tipoDcoumento"
            data-cy="tipoDcoumento"
          >
            <option [ngValue]="null">{{ 'comerciowebApp.TipoDocumento.null' | translate }}</option>
            <option *ngFor="let tipoDocumento of tipoDocumentoValues" [value]="tipoDocumento">
              {{ 'comerciowebApp.TipoDocumento.' + tipoDocumento | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('tipoDcoumento')!.invalid && (editForm.get('tipoDcoumento')!.dirty || editForm.get('tipoDcoumento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoDcoumento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="comerciowebApp.cliente.numDocumento" for="field_numDocumento">Num Documento</label>
          <input
            type="text"
            class="form-control"
            name="numDocumento"
            id="field_numDocumento"
            data-cy="numDocumento"
            formControlName="numDocumento"
          />
          <div
            *ngIf="editForm.get('numDocumento')!.invalid && (editForm.get('numDocumento')!.dirty || editForm.get('numDocumento')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numDocumento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="comerciowebApp.cliente.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="comerciowebApp.cliente.numTelefono" for="field_numTelefono">Num Telefono</label>
          <input
            type="text"
            class="form-control"
            name="numTelefono"
            id="field_numTelefono"
            data-cy="numTelefono"
            formControlName="numTelefono"
          />
          <div *ngIf="editForm.get('numTelefono')!.invalid && (editForm.get('numTelefono')!.dirty || editForm.get('numTelefono')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('numTelefono')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
