<div>
  <h2 id="page-heading" data-cy="MedioPagoHeading">
    <span jhiTranslate="comerciowebApp.medioPago.home.title">Medio Pagos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="comerciowebApp.medioPago.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-medio-pago"
        [routerLink]="['/medio-pago/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="comerciowebApp.medioPago.home.createLabel"> Create a new Medio Pago </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="medioPagos?.length === 0">
    <span jhiTranslate="comerciowebApp.medioPago.home.notFound">No medioPagos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="medioPagos && medioPagos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="comerciowebApp.medioPago.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="comerciowebApp.medioPago.codigo">Codigo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medioPago of medioPagos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/medio-pago', medioPago.id, 'view']">{{ medioPago.id }}</a>
          </td>
          <td>{{ medioPago.nombre }}</td>
          <td>{{ medioPago.codigo }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/medio-pago', medioPago.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/medio-pago', medioPago.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(medioPago)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
